@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f9f9fb;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.codemirror-expand .CodeMirror {
  height: auto;
}
