.header {
  width: 100%;

  background-color: #444;

  padding: 12px 18px;
}

.title {
  display: inline-block;
}

.title_link {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.links {
  display: inline-block;

  margin-left: 12px;
}

.paste {
  padding: 6px 12px;

  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-decoration: none;

  background-color: #0389ff;

  outline: 0;
  border: none;
  border-radius: 2px;

  cursor: pointer;
}